.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */

.header {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
}

.header__logo__top-left {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  display: flex;
  margin: 0;
  max-width: 730px;
  height: auto;
  position: absolute;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  left: 64px;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  height: auto;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.link {
  text-decoration: none;
}

.main-illustration {
  object-fit: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/* description */

.description {
  width: 80%;
  min-width: 784px;
  margin: 100px auto 100px auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph-1 {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph-2 {
  margin: 30px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph-3 {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__main-text {
  width: 80%;
}

/* digits */

.digits {
  margin-bottom: 100px;
}

.section-title {
  margin: auto;
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bolder;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

/* feynman */

.feynman {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
}

.feynman__title {
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/* kaufman */

.kaufman {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-top: 80px;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}

/* footer */

.footer {
  padding-top: 60px;
  background-color: #1f1f1f;
  color: white;
  min-width: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo__top-left {
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}

.footer__author {
  position: relative;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 170px;
  margin-bottom: 18px;
}

.footer__social-icon {
  padding-right: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__items {
  padding: 0;
  margin: 0;
}

.footer__item {
  list-style-type: none;
}

.image__footer {
  text-decoration: none;
  color: white;
}
